@model InsureFlowAI.Web.ViewModels.HomePageViewModel

@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="en">

@Html.Partial("_HeadComponentPartial")

<body>

    @Html.Partial("_SpinnerComponentPartial")

    @Html.Partial("_TopBarComponentPartial",Model.LinkedInProfileVM)


    @Html.Partial("_HeaderComponentPartial",Model.CarouselItems)


    @Html.Partial("_FeatureComponentPartial")


    @Html.Partial("_AboutComponentPartial")


    @Html.Partial("_ServiceComponentPartial",Model.ServicesList)

    @Html.Partial("_FAQComponentPartial", Model.FAQList)


    @Html.Partial("_FooterComponentPartial")

    @Html.Partial("_ScriptsComponentPartial")

</body>

</html>